.topnav {
  overflow: hidden;
  list-style: none;
  border: solid;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-right: 10%;
  margin-left: 10%;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(243, 190, 130);
  color: black;
}

.topnav a.active {
  color: rgb(0, 0, 0);
}
